* {
  	border:0;
  	margin:0;
  	padding:0;
}



.bmrCalculatorContainer{
	height: 100vh;
	width: 100%;
	background-image:     
		linear-gradient(
      	to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url("images/bmrCalculatorContainerBackground.jpg");
	background-size: cover;
}

.bmrCalculatorContainer h1{
	margin: 0;
	padding: 0;
}

#title{
	position: relative;
	top: 15vh;
	color: white;
}


.bmrCalculatorFormContainer{
	position: relative;
	top: 25vh;
	width: 35vw;
	height: 50vh;
	background-color: lightblue;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid grey;
	border-radius: 5%;
}

.Gender{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bmrCalculatorForm label, input, h1{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.bmrCalculatorForm button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}


.recipeContainer{
	width: 100%;
	background-color: white;
	min-height: 100vh;
}


.recipeContainer h3, p {
	font-family:'Great Vibes', Helvetica, sans-serif;
}

.recipeContainer h3 {
	font-size: 25px;
}

.recipeContainer p{
	font-size: 20px;
}


.recipeContainer img{
	display: block;
	height: 200px;
	width: 200px;
}


.recipes{
	position: relative;
	display: inline-block;
	height: 300px;
	width: 300px;	
	float: left;
	margin-left: 2vw;
}


.recipes p{
	word-wrap: break-word;
}

.recipes img{
	position: absolute;
	bottom: 20px;
}


.resultInfo{
	min-height: 95vh;
	width: 95vw;
	padding: 1vh;
	margin: 2.5vh auto 2.5vh auto;
	background-image: url("images/lalala7.jpg");
	background-size: cover;
}

.generateMoreButton {
	position: relative;
	top: 4vh;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 2vw 2vh 2vw;
    cursor: pointer;
}

.hidden{
	display: none;
}

.nutritionInfo{
	position: relative;
	left: 2vw;
	top: 2vh;
	display: block;
	width: 50vw;
}
